<p>updateappartment works!</p>

<form [formGroup]="updateform">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">appartNum</span>
    </div>
    <input
      type="text"
      aria-label="First name"
      class="form-control"
      formControlName="appartNum"
    />
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">description</span>
    </div>
    <input
      type="text"
      aria-label="First name"
      class="form-control"
      formControlName="description"
    />
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Residence</span>
    </div>
    <input
      type="text"
      aria-label="First name"
      class="form-control"
      formControlName="residence"
    />
  </div>
  <br />
  <Button class="btn btn-primary" (click)="update()">update</Button>
</form>
